:root {
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --general-color-font: #334680;
  --button-search-background: #1e86ff;
  --grey-color-font: #b9bdcf;
  --white-background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 12px;
  margin: 0;
  font-family: var(--font-roboto);
  background: #f6f7fb;
}
